# Prerequisites
*.d

# Completed Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Completed Dynamic libraries
*.so
*dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static Libraries
*.lai
*.la
*.a
*.lib

# Executables 
*.exe
*.out

# Bin
/bin

# VS Code
/.vscode